<table>
    <tr>{{trans "Wellcome To: %templateVar." templateVar=$templateVar}}</tr>
    {{block class='Magento\Framework\View\Element\Template' area='frontend' template='OpenTechiz_EmailDemo::email/demo.phtml' custom=$custom}}
</table>
